@model Lab5_WebApp.ViewModels.Entities.CarModelViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="container text-center align-middle w-50">
    <form method="post">
        <div>
            <input hidden asp-for="PageViewModel.CurrentPage" value="@Model.PageViewModel.CurrentPage" />
            <input hidden asp-for="Entity.CarMarkId" value="@Model.Entity.CarMarkId" />
        </div>

        <h2>Edit entity</h2>

        <div asp-validation-summary="ModelOnly" class="text-danger text-justify w-100 m-lg-0"></div>

        <p>
            <label asp-for="Entity.Name"></label><br />
            <input asp-for="Entity.Name" class="w-75" />
        <p><span asp-validation-for="Entity.Name" class="text-danger"></span></p>

        <p>
            <label asp-for="Entity.Description"></label><br />
            <input asp-for="Entity.Description" class="w-75" />
        <p><span asp-validation-for="Entity.Description" class="text-danger"></span></p>

        <p>
            <label asp-for="Entity.CarMarkId"></label><br />
            <input type="search" list="genres" asp-for="CarMarkName" class="w-75" />
            <datalist id="genres">
                @foreach (var item in Model.SelectList)
                {
                    <option value="@item.Name"></option>
                }
            </datalist>
        <p><span asp-validation-for="Entity.CarMarkId" class="text-danger"></span></p>


        <p>
            <input type="submit" value="Save" class="btn btn-success w-75" />
        <p><a asp-action="Index" asp-route-page="@Model.PageViewModel.CurrentPage" class="btn btn-danger w-75">Back</a></p>
    </form>
</div>
